<!DOCTYPE html>
<html lang="en">
  <head>
  {% if title %}
    <title>{{title}} - torrents</title>
    {% else %}
    <title>torrents</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/static/js/uikit.min.js"></script>
	<script src="/static/js/uikit.js"></script>
	<script src="/static/js/moment.js"></script>
    <meta charset="utf-8" />
  </head>
  <body>
	<nav class="uk-navbar">
		<ul class="uk-navbar-nav">
		{% if g.user.is_authenticated() %}
		<li><a href="/index">Torrents</a></li>
		<li><a href="#">Admin</a></li>
		<li><a href="/logout">Log out</a></li>
		{% endif %}
		<li><a href="#">Credits</a></li>
		</ul>
	</nav>
    {% block content %}{% endblock %}
	</div>
  </body>
</html>