<!DOCTYPE html>
<html lang="en">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.jpg') }}" />
  
    <link rel="stylesheet" href="{{ url_for('static',filename='css/foundation.css') }}" />
  
  {% if title %}
    <title>{{title}} - StrØm</title>
    {% else %}
    <title>StrØm</title>
    {% endif %}
    {# <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'knass.css') }}"> #}
	<script src="{{ url_for('static', filename = 'js/vendor/moment.js') }}"></script>
    <meta charset="utf-8" />
  </head>
  <body>
  <nav class="top-bar">

	<ul class="title-area">
		<li class="name"><h1><a>StrØm</a></h1></li>
	</ul>
	
	<section class="top-bar-section">
		<ul class="left">
		{% if g.user.is_authenticated() %}
		<li><a href="{{ url_for('index') }}">Torrents</a></li>
			{% if g.user.is_admin() %}
			<li><a href="{{ url_for('admin') }}">Admin</a></li>
			{% endif %}
		<li><a href="{{url_for('logout') }}">Log out</a></li>
		{% endif %}
		</ul>
	</section>
  </nav>

    {% block content %}{% endblock %}
  </body>
</html>