{% extends "base.html" %}
{% block content %}
<h1>Hello, {{user}} !</h1>

<form action="/index" method="post" name="index" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <p>Envoyer un torrent (url web, magnet ou torrent seed) puis valider par le bouton "Envoyer" :<br />
    {{form.torrentseed_url(size=100)}}<br />
    {{form.torrentseed_file}}
    <button type="submit" value="Envoyer">Envoyer</button></p>
</form>

<section class="listing">
	{% for torrent in torrents %}
	<hr>
	{# <form action="/index" method="post" name="torrent">
	{{torrent.control_form.hidden_tag()}} #}
		{# we shall be able to adjust bandwich priority of the torrents there ! #}
		<p><a href='/torrent/{{torrent.hashString}}'>{{torrent.name}}</a> is {{torrent.status}} and {{torrent.progress|round(2,'common')}} % finished.
		<a href='/start/{{torrent.hashString}}'>Start</a> | <a href='/stop/{{torrent.hashString}}'>Stop</a> | <a href='/del/{{torrent.hashString}}'>Del</a></td> | <a href='/del_tot/{{torrent.hashString}}'>Del totally</a></p>
{# </form> #}
</section>
{% endfor %}
{% endblock %}