{% extends "base.html" %}
{% block content %}
<h1>{{torrent.name}} is {{torrent.status}}</h1>

<form class="uk-form" action="/torrent/{{torrent.hashString}}" method="post" name="torrent" >
{{control.hidden_tag()}}
<p>
	<ul class="uk-breadcrumb">
		<li><a href='/start/{{torrent.hashString}}'>Start</a></li>
		<li><a href='/stop/{{torrent.hashString}}'>Stop</a></li>
	</ul>
	<button class="uk-button" name="button" id="button" type="submit" value="update">Update</button>
</p>

<div class="uk-grid">
	<div class="uk-width-1-3 uk-panel uk-panel-header">
		<h3 class="uk-panel-title">Status</h3>
		<ul class="uk-list">
		<li>Progress of download process : {{torrent.progress}} %</li>
		<li>Priority : {{control.bandwidthpriority(default=torrent.bandwidthPriority)}}</li>
		<li>Date of start : {{momentjs(torrent.addedDate).calendar()}}</li>
		<li>Last start date : {{torrent.startDate}}</li>
		{# <li>Estimated remaining time : {{torrent.eta}}</li>
		<li>Leechers : {{torrent.leechers}}</li>
		<li>Seeders : {{torrent.seeders}}</li> #}
		</ul>
	</div>
	<div class="uk-width-1-3 uk-panel uk-panel-header">
		<h3 class="uk-panel-title">Downloading</h3>
		<ul class="uk-list">
		<li>Number of peers sending to us : {{torrent.peersSendingToUs}}</li>
		<li>Download rate : {{torrent.rateDownload}} bits/s</li>
		<li>Download limit : {{control.downloadlimit(value=torrent.downloadLimit)}} KB/s</li>
		<li>{{torrent.downloadLimitMode}}</li>
		<li>Corrupt data downloaded : {{torrent.corruptEver|filesize}}</li>
		</ul>
	</div>
	<div class="uk-width-1-3 uk-panel uk-panel-header">
		<h3 class="uk-panel-title">Uploading</h3>
		<ul class="uk-list">
		<li>Number of peers getting from us : {{torrent.peersGettingFromUs}}</li>
		<li>Upload rate : {{torrent.rateUpload}} bits/s</li>
		<li>Upload limit : {{control.uploadlimit(value=torrent.uploadLimit)}} KB/s</li>
		<li>{{torrent.UploadLimitMode}}</li>
		<li>{{torrent.seedRatioMode}}</li>
		<li>Ratio limit : {{control.ratiolimit(value=torrent.seedRatioLimit,step=0.1)}}</li>
		<li>Ratio : {{torrent.ratio}}</li>
		</ul>
	</div>
</div>

	<p>Total size : {{torrent.totalSize|filesize}}</p>

	{% if torrent.error != 0 %}
	<p>There's a {{torrent.error}} :<br />
	{{torrent.errorString}}</p>
	{% endif %}

	<h2>Files</h2>
	<table class="uk-table">
		<tr>
			<th>File name</th>
			<th>Completed / Size</th>
			<th>Priority</th>
		</tr>
		
		{% for file in control.files %}
		<tr>
			<td>{{file.filename.data}}</td>
			<td>{{file.completed.data}} / {{file.size.data}}</td>
			<td>{{file.priority}}</td>
			{# <td><button type="submit">Send</button></td> #}
		</tr>
		{% endfor %}
	</table>
</form>
{% endblock %}