{% extends "base.html" %}
{% block content %}
<h1>{{torrent.name}} is {{torrent.status}}</h1>

<form action="/torrent/{{torrent.hashString}}" method="post" name="torrent" >
{{control.hidden_tag()}}
<p>
	<li><a href='/start/{{torrent.hashString}}'>Start</a> | <a href='/stop/{{torrent.hashString}}'>Stop</a>
	<button name="button" id="button" type="submit" value="update">Update</button>
</p>

<div class="grid">
	<div class="grid3">
	<div>
		<h3>Status</h3>
		<ul>
		<li>Total size : {{torrent.totalSize|filesizeformat}}</li>
		<li>Progress of download process : {{torrent.progress}} %</li>
		<li>Priority : {{control.bandwidthpriority}}</li>
		<li>Date of start : {{momentjs(torrent.addedDate).calendar()}}</li>
		<li>Last start date : {{momentjs(torrent.startDate).calendar()}}</li>
		<li>Estimated remaining time : {{torrent.format_eta()}}</li>
		<li>Leechers : {{torrent.leechers}}</li>
		<li>Seeders : {{torrent.seeders}}</li>
		</ul>
	</div>
	<div>
		<h3>Downloading</h3>
		<ul>
		<li>Number of peers sending to us : {{torrent.peersSendingToUs}}</li>
		<li>Download rate : {{torrent.rateDownload}} bits/s</li>
		<li>Download limit : {{control.downloadlimit(class="uk-form-width-small",value=torrent.downloadLimit)}} KB/s</li>
		<li><label>Download limit mode</label> {{torrent.downloadLimitMode}}</li>
		<li>Corrupt data downloaded : {{torrent.corruptEver|filesizeformat}}</li>
		</ul>
	</div>
	<div>
		<h3>Uploading</h3>
		<ul>
		<li>Number of peers getting from us : {{torrent.peersGettingFromUs}}</li>
		<li>Upload rate : {{torrent.rateUpload}} bits/s</li>
		<li><label>Upload limit :</label>{{control.uploadlimit(class="uk-form-width-small",value=torrent.uploadLimit)}} KB/s</li>
		<li><label>Upload limit mode</label> {{torrent.UploadLimitMode}}</li>
		<li><label>Ratio mode :</label>{{control.ratiomode}}</li>
		<li><label>Ratio limit :</label>{{control.ratiolimit(class="uk-form-width-small",value=torrent.seedRatioLimit,step=0.1)}}</li>
		<li>Ratio : {{torrent.ratio}}</li>
		</ul>
	</div>
	</div>
</div>

	{% if torrent.error != 0 %}
	<p>There's a {{torrent.error}} :<br />
	{{torrent.errorString}}</p>
	{% endif %}

	<h2>Files</h2>
	<table>
		<tr>
			<th>File name</th>
			<th WIDTH="12%">Completed / Size</th>
			<th WIDTH="6%">Selected</th>
			<th WIDTH="8%">Priority</th>
		</tr>
		
		{% for file in control.files %}
		<tr>
		{{file.key}}
			<td>{{file.filename.data}}</td>
			<td>{{file.completed.data|filesizeformat}} / {{file.size.data|filesizeformat}}</td>
			<td>{{file.selected}}</td>
			<td>{{file.priority}}</td>
			{# <td><button type="submit">Send</button></td> #}
		</tr>
		{% endfor %}
	</table>
</form>
{% endblock %}