{% extends "base.html" %}
{% block content %}
<div class="row">
<h2>{{torrent.name}} is {{torrent.status}}</h2>

<form action="{{url_for('torrent', tor_id=torrent.hashString)}}" method="post" name="torrent" >
{{control.hidden_tag()}}
<fieldset>
<legend>Controls</legend>
	<div class="large-5 columns">
		<h3>Status</h3>
		<p>Total size : {{torrent.totalSize|filesizeformat}}<br />
		Torrent {{torrent.progress}} % downloaded<br />
		{% if torrent.addedDate %}
		Date of start : {{momentjs(torrent.addedDate).calendar()}}<br />
		{% endif %}
		{% if torrent.startDate %}
		Last start date : {{momentjs(torrent.startDate).calendar()}}<br />
		{% endif %}
		
		Estimated remaining time : {{torrent.format_eta()}}<br />
			{% if torrent.leechers %}
			{{torrent.leechers}} Leechers<br />
			{% endif %}
			{% if torrent.seeders %}
			{{torrent.seeders}} Seeders
			{% endif %}
		</p>
	</div>
	
	<div class="large-3 columns">
		<h3>Downloading</h3>
		<p>{{torrent.peersSendingToUs}} peers send us data.<br />
		{{torrent.corruptEver|filesizeformat}} corrupt data downloaded.<br />
		Download rate : {{torrent.rateDownload}} bits/s<br />
			{% if torrent.downloadLimitMode %}
			Download limit mode {{torrent.downloadLimitMode}}<br />
			{% endif %}
		</p>
	</div>
	<div class="large-4 columns">
		<h3>Uploading</h3>
		<p>{{torrent.peersGettingFromUs}} peers get data from us.<br />
		Ratio : {{torrent.ratio|round(2,'common')}}<br />
		Upload rate : {{torrent.rateUpload}} bits/s<br />
			{% if torrent.UploadLimitMode %}
			{{torrent.UploadLimitMode}} upload limit mode<br />
			{% endif %}
		</p>
	</div>
	<hr>
	<div class="large-5 columns">
		<label>Priority : {{control.bandwidthpriority}}</label>
		<a href="{{url_for('start', tor_id=torrent.hashString)}}">Start</a> | <a href="{{url_for('stop', tor_id=torrent.hashString)}}">Stop</a>
		<button class="tiny right" type="submit" value="update">Update</button>
	</div>
	<div class="large-3 columns">
		<label>Download limit (KB/s) : {{control.downloadlimit(value=torrent.downloadLimit)}}</label>
		<label>Ratio mode :{{control.ratiomode}}</label>
	</div>
	<div class="large-4 columns">
		<label>Upload limit (KB/s) :{{control.uploadlimit(value=torrent.uploadLimit)}}</label>
		<label>Ratio limit :{{control.ratiolimit(value=torrent.seedRatioLimit,step=0.1)}}</label>
	</div>
	
</fieldset>

	{% if torrent.error != 0 %}
	<p>There's a {{torrent.error}} :<br />
	{{torrent.errorString}}</p>
	{% endif %}

	<h2>Files</h2>
	<table>
		<thead>
		    <tr>
			<td>File name</td>
			<td><center>Completed / Size</center></td>
			<td><center>Selected</center></td>
			<td width="110"><center>Priority</center></td>
		    </tr>
		</thead>
		
		<tbody>
		{% for file in control.files %}
		{{file.key}}
		    <tr>
			<td>{{file.filename.data}}</td>
			<td><center>{{file.completed.data|filesizeformat}} / {{file.size.data|filesizeformat}}</center></td>
			<td><center>{{file.selected}}</center></td>
			<td>{{file.priority}}</td>
		    </tr>
		{% endfor %}
		</tbody>
	</table>	
</form>
</div>

{% endblock %}